<!DOCTYPE html>
<html th:replace="layouts/master-layout :: layout(~{:: main})" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>Category Table</h3>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cat : ${categories}">
                        <td th:text="${cat.id}"></td>
                        <td th:text="${cat.name}"></td>
                    </tr>
                    </tbody>
                </table>
                <a th:href="@{/category-form}" class="btn btn-info btn-block">New Category</a>
            </div>
        </div>
    </div>

</main>

</body>
</html>