<!DOCTYPE html>
<html th:replace="layouts/masterLayout :: layout(~{::main})" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main role="main">
  <div class="container my-5">
      <h1>Hello Version Two</h1>
    <form action="#">
      <div class="form-group">
        <label>Select Subjects</label>
        <select class="form-control">
            <option  th:each="su : ${subjects}" th:text="${su}"></option>
        </select>
      </div>
    </form>
  </div>

</main>

</body>
</html>