<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
    th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>
<body>
    <div class="container mt-5">
        <h2>To Do List</h2>
        <div class="form-group">
        <form th:action="@{/save-todo}" th:object="${todo}" method="post">
            <label for="todo">ToDo</label>
            <input type="text" id="todo" th:field="*{item}" class="form-control">
        </div>

    <input type="submit"class="btn btn-info btn-lg btn-block" value="Save to do List">
    </form>

        <ul class="list-group" th:each="item : ${todoList}">
            <li class="list-group-item" th:text="${item.item}"></li>
        </ul>

    </div>
</body>
</html>