<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="applicationForm">

  <h1>Application Scoped Form</h1>
  <h3>The current ApplicationValue is [<span th:text="${applicationValue}"></span>]</h3>

  <form th:action="@{/save-application-value}" action="#" method="post">
  <div class="form-group">
    <label>Session Value</label>
    <input type="text" name="num" class="form-control">
  </div>
  <input type="submit" value="Save Application Value" class="btn btn-primary">
</form>
</div>


</body>
</html>